.color{
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}

p{
    text-align: center;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    transform: translate(80%);
}